<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Se desvaneci&oacute; la muralla de fuego y las escaleras vuelven a quedar disponibles</p>
        <p class="green regular">Subes las escaleras para llegar al segundo nivel</p>
        <p class="narrative small">???: Alto ah&iacute;</p>
        <p class="green regular">Volteas a ver de donde proviene la voz y observas un guerrero sentado</p>
        <p class="narrative small">???: He de suponer que el hechicero est&aacute; muerto</p>
        <p class="narrative small">{{hero.name}}: ...</p>
        <p class="narrative small">???: Ser&iacute;a una verg&uuml;enza para su memoria que te deje pasar</p>
        <p class="green regular">Se levanta</p>
        <p class="narrative small">{{monster.type}}: Preparate, esto termino para ti</p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)" [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
        (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<!--<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>-->

<app-thanks *ngIf="nextDungeon"></app-thanks>