<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Tras derrotar al grandul&oacute;n puedes ver la entrada al castillo</p>
        <p class="narrative small">{{hero.name}}: Bien! ya queda poco, voy a por ti F...</p>
        <p class="green regular">Un chillido te desgarra los o&iacute;dos, pero a tu alrededor no hay nadie</p>
        <p class="narrative small">{{hero.name}}: Aahh!! De d&oacute;nde proviene ese ruido?</p>
        <p class="green regular">Notas como una sombra cubre la tuya y se hace cada vez m&aacute;s grande</p>
        <p class="narrative small">{{hero.name}}: Mierda! Arriba!</p>
        <p class="green regular">Giras a tiempo a un lado, con lo cu&aacute;l esquivas el embiste de esa criatura</p>
        <p class="narrative small">{{hero.name}}: Y pens&eacute; que el anterior era raro</p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)" [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
        (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-dungeon-six [hero]="hero" [weapon]="weapon" *ngIf="nextDungeon"></app-dungeon-six>