<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Finalmente ingresas al castillo, est&aacute;s seguro de que tu compa&ntilde;ero a&uacute;n est&aacute; a salvo</p>
        <p class="narrative small">{{hero.name}}: Ok, creo que debo dirigirme hac&iacute;a los pisos superiores</p>
        <p class="green regular">Un barrera de fuego aparece frente a ti</p>
        <p class="narrative small">{{hero.name}}: Pero y ahora que ?</p>
        <p class="green regular">La barrera se extiende a tu alrededor y te deja encerrado junto con...</p>
        <p class="narrative small">{{monster.type}}: Incre&iacute;ble que hayas derrotado a mis peque&ntilde;os, pero tu suerte se termino.</p>
        <p class="narrative small">{{hero.name}}: Cu&aacute;ntos m&aacute;s de uds aparecer&aacute;n a retrasarme</p>
        <p class="narrative small">{{monster.type}}: No te preocupes por eso, soy el &uacute;ltimo que ver&aacute;s.
        </p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)" [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
        (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-thanks *ngIf="nextDungeon"></app-thanks>