.container{
    width: 220px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(21, 23%, 25%);
    padding: 10px;
    /* hsl(21, 23%, 25%) */
}

.stat{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lvlup-stat{
    background-color: hsl(21, 23%, 25%);
    color: #fff;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.small{
    width: 22px;
}

.p5{
    padding: 5px;
}

.ml5{
    margin-left: 5px;
}

.points{
    font-weight: 900;
    color: hsl(21, 23%, 25%);
}

input{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.message{
    color: hsl(0, 100%, 50%)
}