h4{
    text-align: center;
}

.term{
    background-color: #804000;
    color: #fff;
    font-weight: 800;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 6px;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #800000;
}

.definition{
    margin-left: 26px;
    margin-right: 26px;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
}

.title{
    text-align: center;
    font-size: 26px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.new{
    color: hsl(0, 100%, 50%);
    font-weight: 700;
}

.bc-gray{
    background-color: #ccc;
    border: 1px solid #666;
    cursor: pointer;
}