<h4 class="definition bc-gray" (click)="showAndHide()">Cambios de V0.2 a V0.3</h4>

<dl class="hide" id="v3-log">
    <dt class="term">Estad&iacute;sticas</dt>
    <dd class="definition">La fuerza ahora incrementa el da&ntilde;o base en 1.5 en vez de 1</dd>
    <dd class="definition">La destreza y la percepci&oacute;n tienen un menor impacto a la hora de determinar las
        probabilidades de atacar y esquivar</dd>

    <dt class="term">Objetos</dt>
    <dd class="definition">Precio de pociones grandes reducido de 100 a 90</dd>

    <dt class="term">Armas</dt>
    <dt class="term">Daga</dt>
    <dd class="definition"><span class="new">Nueva!</span> Ligera como ninguna otra, demuestra que eres el m&aacute;s
        perceptivo</dd>
    <dd class="definition"><span class="new">Nuevo!</span> Cualidad 'Ligero': Incrementa tu percepci&oacute;n un 25%
    </dd>

    <dt class="term">Lanza</dt>
    <dd class="definition"><span class="new">Nuevo!</span> Cada punto de fuerza disminuye 1.5% la probabilidad de <b>MUY
            PESADA</b></dd>

    <dt class="term">Arco</dt>
    <dd class="definition"><span class="new">Nuevo!</span> Cada punto de destreza aumenta 3.5% la probabilidad de <b>EN
            LA MIRA!</b></dd>

    <dt class="term">Espada</dt>
    <dd class="definition">Cualidad: Corte -> chance de daño extra(50%) disminuida de 40% a 30%</dd>
    <dd class="definition"><span class="new">Nuevo!</span> Cada punto de fuerza aumenta 4% el da&ntilde;o extra de
        <b>CORTE</b></dd>
    <dd class="definition">Corregido un error que hac&iacute;a que la cualidad 'corte' incrementase el da&ntilde;o
        m&aacute;s de lo debido</dd>

    <dt class="term">Enemigos</dt>
    <dd class="definition">Ahora muestran el da&ntilde;o que pueden realizar</dd>
    <dd class="definition">Gargola debilitada un poco</dd>

    <dt class="term">Calabozos</dt>
    <dd class="definition">Ya est&aacute;n disponibles todos los niveles previstos para esta aventura</dd>
    <dd class="definition">Ser&aacute;s el aventurero que le de fin a todo esto ?</dd>

    <dt class="term">Extras</dt>
    <dd class="definition">Ahora se muestra tu vida m&aacute;xima durante el combate</dd>
    <dd class="definition">Al finalizar tendr&aacute;s algunas estad&iacute;sticas de tu aventura</dd>

</dl>