<div class="text-center" *ngIf="!nextDungeon">
    <h3 class="blue">Tiendita del T&iacute;o Bigotes</h3>

    <p class="narrative">Bienvenido, en que puedo ayudarte ?</p>

    <div>
        <label>Oro actual: <b>{{hero.gold}}</b></label>
        <div *ngIf="hero.items.length > 0">
            <label>Objetos</label>
            <div class="item-container">
                <div class="item item-space" *ngFor="let item of hero.items">
                    <label>{{item.name}}</label>
                    <label>Cantidad: {{item.amount}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="item-container">
        <div class="item item-space" *ngFor="let item of itemsInStore">
            <label><b>{{item.name}}</b></label>
            <label>{{item.effectDescription}}</label>
            <label>Precio: <b>{{item.price}}</b></label>
            <button class="button-dungeon p5" (click)="buyItem(item)">Comprar</button>
        </div>
    </div>

    <div>
        <button class="button-dungeon p5" (click)="continueToNextDungeon()">Continuar</button>
    </div>

    <div class="message-alert" *ngIf="message">
        <label>{{message}}</label>
    </div>
</div>