<h3 class="title">Bases</h3>

<dl>
    <dt class="term" (click)="what()">¿Qu&eacute; es Duncas?</dt>
    <dd class="definition hide" id="what">Es un peque&ntilde;o juego de rol en el que enfrentar&aacute;s distintos calabozos.</dd>

    <dt class="term" (click)="stats()">Estad&iacute;sticas</dt>
    <dd class="definition hide" id="stats">
        <p class="p">Se cuenta con 4 estad&iacute;sticas base:</p>
        <p class="p"><b>Puntos de Salud</b>: Incrementan en gran medida tu vida m&aacute;xima. Si llegan a 0 se termina la aventura.</p>
        <p class="p"><b>Fuerza</b>: Incrementa un poco tu vida m&aacute;xima y tambi&eacute;n incrementa un poco tu da&ntilde;o.</p>
        <p class="p"><b>Destreza</b>: Incrementa tu chance de acertar tus ataques.</p>
        <p class="p"><b>Percepci&oacute;n</b>: Incrementa tu chance de esquivar ataques enemigos.</p>
    </dd>

    <dt class="term" (click)="combat()">Combate</dt>
    <dd class="definition hide" id="combat">La acci&oacute;n se desarrolla por turnos, puedes realizar una acci&oacute;n por turno
        (atacar o usar algún objeto de tu bolsa), en ese mismo turno tu enemigo atacará 
        independientemente de la acci&oacute;n que hayas decidido tomar.
    </dd>
</dl>