<h4 class="definition bc-gray" (click)="showAndHide()">Cambios de V0.1 a V0.2</h4>

<dl class="hide" id="v2-log">
    <dt class="term">Sistema de niveles</dt>
    <dd class="definition">Ya se puede subir de nivel(no m&aacute;s nivel 1 durante toda la aventura)</dd>
    <dd class="definition">Al subir de nivel se otorgan 2 puntos para repartir entre las estad&iacute;sticas</dd>

    <dt class="term">Estad&iacute;sticas</dt>
    <dd class="definition">Los puntos de salud ahora dan +5 de vida en vez de +4</dd>
    <dd class="definition">Los puntos de salud iniciales ahora son de 3 en vez de 2(Vida inicial sigue siendo 20)</dd>

    <dt class="term">Objetos</dt>
    <dd class="definition">Usar pociones cuenta como acci&oacute;n de turno(al usarse el enemigo realizará su ataque,
        antes se pod&iacute;a usar 1 o m&aacute;s pociones y atacar en el mismo turno)</dd>
    <dd class="definition">Pociones peque&ntilde;as precio aumentado de 35 a 40</dd>
    <dd class="definition">Pociones grandes precio aumentado de 75 a 100</dd>
    <dd class="definition">Los enemigos ahora otorgan objetos al ser derrotados(no todos)</dd>

    <dt class="term">Armas</dt>
    <dt class="term">Lanza</dt>
    <dd class="definition">Daño reducido de 4-19 a 1-17</dd>
    <dd class="definition">Cualidad: Muy pesada -> chance de fallar subida de 10% a 15%</dd>

    <dt class="term">Arco</dt>
    <dd class="definition">Daño cambiado de 4-9 a 3-10</dd>
    <dd class="definition">Cualidad: En la Mira! -> chance de doble daño subida de 5% a 15%</dd>

    <dt class="term">Espada</dt>
    <dd class="definition">Daño aumentado de 2-7 a 2-8</dd>
    <dd class="definition">Cualidad: Corte -> chance de daño extra(50%) subida de 20% a 40%</dd>
    <dd class="definition">Corregido un error que hac&iacute;a que la cualidad 'corte' no incrementase correctamente el
        da&ntilde;o</dd>

    <dt class="term">Enemigos</dt>
    <dd class="definition">Nuevos enemigos a&ntilde;adidos</dd>
    <dd class="definition">Estad&iacute;sticas reajustadas</dd>
    <dd class="definition">Corregido un error por el que los enemigos no lograban hacer su m&aacute;ximo da&ntilde;o
    </dd>

</dl>