<h4>Cambios de V0.1 a V0.2</h4>

<ul>Sistema de niveles
    <li>Ya se puede subir de nivel(no m&aacute;s nivel1 durante toda la aventura)</li>
    <li>Al subir de nivel se otorgan 2 puntos para repartir entre las estad&iacute;sticas</li>
</ul>

<ul>Estad&iacute;sticas
    <li>Los puntos de salud ahora dan +5 de vida en vez de +4</li>
    <li>Los puntos de salud iniciales ahora son de 3 en vez de 2(Vida inicial sigue siendo 20)</li>
</ul>

<ul>Objetos
    <li>Usar pociones cuenta como acci&oacute;n de turno(al usarse el enemigo realizará su ataque,
        antes se pod&iacute;a usar 1 o m&aacute;s pociones y atacar en el mismo turno)</li>
    <li>Los enemigos ahora otorgan objetos al ser derrotados(no todos)</li>
</ul>

<ul>Armas
    <li>
        <ul>Lanza
            <li>Daño reducido de 4-19 a 1-17</li>
            <li>Cualidad: Muy pesada -> chance de fallar subida de 10% a 15%</li>
        </ul>
    </li>
    <li>
        <ul>Arco
            <li>Daño cambiado de 4-9 a 3-10</li>
            <li>Cualidad: En la Mira! -> chance de doble daño subida de 5% a 15%</li>
        </ul>
    </li>
    <li>
        <ul>Espada
            <li>Daño aumentado de 2-7 a 2-8</li>
            <li>Cualidad: Corte -> chance de daño extra(50%) subida de 20% a 35%</li>
        </ul>
    </li>
</ul>

<ul>Enemigos
    <li></li>
</ul>