<div *ngIf="!weaponPicked">

    <div class="text-center mrl5">
        <p class="blue medium">Est&aacute;s a un paso de comenzar tu aventura en los
            calabozos de Duncas, pero un guerrero no puede ir por ah&iacute; sin un arma!</p>

        <p class="green regular">Una figura encapuchada se acerca a ti y...</p>

        <p class="narrative small story"><b>Hombre encapuchado</b>: Veo que eres nuevo por aqu&iacute;.
            No deber&iacute;s dirigirte al castillo de Duncas, no merece la pena ir a perder la vida.</p>

        <p class="narrative small story"><b>{{hero.name}}</b>: Mi compa&ntilde;ero se encuentra en ese castillo,
            por supuesto que vale la pena.</p>

        <p class="narrative small story"><b>Hombre encapuchado</b>: En ese caso ser&aacute; mejor que te 
            lleves una de estas, a m&iacute; ya no me sirven, mis &eacute;pocas doradas quedaron atr&aacute;s</p>
    </div>

    <div class="container">

        <div class="weapon" *ngFor="let weapon of weapons">
            <label>Arma: {{weapon.type}} {{weapon.icon}}</label>
            <label>Da&ntilde;o: {{weapon.damage}}</label>
            <label>Cualidad: {{weapon.skill}}</label>
            <label class="bold">{{weapon.description}}</label>
            <label *ngIf="weapon.skillBonusDescription">{{weapon.skillBonusDescription}}</label>
            <button class="select-weapon" (click)="selectWeapon(weapon)">Seleccionar</button>
        </div>

    </div>

</div>

<app-dungeon-one [hero]="hero" [weapon]="selectedWeapon" *ngIf="weaponPicked"></app-dungeon-one>