<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Subes al pen&uacute;ltimo nivel del castillo y un enorme pasillo te depara para llegar al
            &uacute;ltimo nivel</p>
        <p class="green regular">Caminas atraves del pasillo, el cual est&aacute; completamente vac&iacute;o</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Ya me falta poco</p>
        <p class="green regular">De pronto por las escaleras al &uacute;ltimo nivel baja un guerrero el cu&aacute;l
            desenvaina su espada</p>
        <p class="narrative small"><b>{{hero.name}}</b>: No me dejar&aacute;s pasar, cierto ?</p>
        <p class="narrative small"><b>{{monster.type}}</b>: Que bueno que hayas entendido como funciona esto</p>
        <p class="narrative small"><b>{{monster.type}}</b>: Dejame decirte que soy la mano derecha del Lord de este castillo,
            en otras palabras soy quien te separa de &eacute;l y tu peque&ntilde;o amigo</p>
        <p class="narrative small"><b>{{hero.name}}</b>: No me importa, solo eres un obst&aacute;culo m&aacute;s en mi camino
        </p>
        <p class="narrative small"><b>{{monster.type}}</b>: Incluso si me derrotas, cosa que no suceder&aacute;, probablemente
            ya sea tarde para tu amigo Hajaja!</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Malditoo!</p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)" [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
        (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-dungeon-ten [hero]="hero" [weapon]="weapon" *ngIf="nextDungeon"></app-dungeon-ten>