<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Ya solo te queda cruzar el port&oacute;n delante, pero el suelo comienza a temblar</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Un temblor ? No! Un terremoto!</p>
        <p class="green regular">Repentinamente el port&oacute;n se derrumba ante ti, logras reaccionar a tiempo y lo esquivas</p>
        <p class="green regular">Tus ojos no creen lo que ves salir del agujero. Un enorme monstruo dirige su mirada
            hac&iacute;a ti</p>
        <p class="narrative small"><b>{{monster.type}}</b>: Jomicda!</p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)" [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
        (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-dungeon-five [hero]="hero" [weapon]="weapon" *ngIf="nextDungeon"></app-dungeon-five>