<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Tanto el cuerpo del ogro y el pajarraco yacen en el piso, pero 
            la entrada al castillo está a solo unos pasos, as&iacute; que no te interesa revisar sus cuerpos</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Al fin en la entrada, descansar&eacute; un rato aqu&iacute;. 
            Ya nada puede pasar</p>
        <p class="green regular">Te quedas dormido durante apr&oacute;ximadamente una hora y empiezas a 
            sentir que te caen piedras en la cabeza</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Qu&eacute; ? De d&oacute;nde caen estas piedras si no hay nadie</p>
        <p class="green regular">La estatua donde te recostabas empieza a moverse</p>
        <p class="narrative small"><b>{{hero.name}}</b>: No me jodas!</p>
        <p class="narrative small"><b>{{monster.type}}</b>: Humano! como te atreves a recostarte en un ser como yo.</p>
        <p class="narrative small"><b>{{hero.name}}</b>: No se supone que las estatuas hablen</p>
        <p class="narrative small"><b>{{monster.type}}</b>: El que yo hable no deber&iacute;a ser tu mayor preocupaci&oacute;n.</p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)" [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
        (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-dungeon-seven [hero]="hero" [weapon]="weapon" *ngIf="nextDungeon"></app-dungeon-seven>