/* You can add global styles to this file, and also import other style files */
*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Unicase', serif;
}

h1{
    text-align: center;
}

h3{
    margin-bottom: 4px;
}

.blue{
    color: hsl(240, 100%, 50%);
}

.green{
    color: hsl(122, 39%, 49%)
}

.narrative{
    color: hsl(16, 25%, 38%)
}

.medium{
    font-size: 1.2em;
}

.regular{
    font-size: 1.1em;
}

.small{
    font-size: 1em;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: 600;
}

.overview{
    border: 1px solid hsl(21, 23%, 25%);
    padding: 5px;
}

.button-dungeon{
    background-color: hsl(21, 23%, 25%);
    color: #fff;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.p5{
    padding: 5px;
}

.message-alert{
    color: hsl(0, 100%, 50%)
}

.two-container-lr{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.mrl5{
    margin-left: 5px;
    margin-right: 5px;
}