<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Despu&eacute;s de tomar un arma del hombre encapuchado sigues rumbo al castillo,
            es cuando recuerdas que se te olvid&oacute; preguntar por el camino m&aacute;s corto, pero visualizas una figura delante.</p>
        <p class="green regular">Un ciudadano con mala pinta se cruza en el camino</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Que tal ? Podr&iacute;a decirme si este camino me lleva a Duncas o es mejor ir por la izquierda ?</p>
        <p class="narrative small"><b>{{monster.type}}</b>: Todos tienen proh&iacute;bido ir a Duncas!</p>
        <p class="narrative small"><b>{{hero.name}}</b>: No tengo m&aacute;s opci&oacute;n que ir</p>
        <p class="narrative small"><b>{{monster.type}}</b>: No pasar&aacute;s!!</p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)"
        [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
        (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-dungeon-two [hero]="hero" [weapon]="weapon" *ngIf="nextDungeon"></app-dungeon-two>