<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Despu&eacute;s de tomar un arma del hombre encapuchado sigues rumbo a los
            calabozos, pero algo se interpone en tu camino.</p>

        <p class="green regular">Un esqueleto andante te corta el paso y no pretende apartarse por las buenas</p>

        <p class="narrative small story">{{hero.name}}: Pero que se supone que es esto!?</p>
        <p class="narrative small story">Esqueleto: Argh nor!</p>
    </div>

    <div class="two-container-lr">
        
        <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
            (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
            (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
            *ngIf="!heroWon && !monsterWon">
        </app-hero-overview>

        <app-pocket [hero]="hero" *ngIf="pocketState"></app-pocket>
    </div>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="heroMessage" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore" (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-dungeon-two [hero]="hero" [weapon]="weapon" *ngIf="nextDungeon"></app-dungeon-two>