<div *ngIf="!nextStore">

    <div class="text-center mrl5">
        <p class="blue medium">Tu aventura se topa con una enorme puerta resguardada por un escudero</p>
        <p class="green regular">Te hace señales para que des media vuelta</p>
        <p class="narrative small"><b>{{monster.type}}</b>: Media vuelta, forastero</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Solo necesito cruzar, de saber que estar&iacute;a 
            resguardado hubiese tomado el otro camino</p>
        <p class="narrative small"><b>{{monster.type}}</b>: Si no es por las buenas, entonces yo mismo me encargar&eacute;</p>
        <p class="narrative small"><b>{{hero.name}}</b>: Todo parece indicar que no ser&aacute; por las buenas</p>
    </div>

    <app-hero-overview [hero]="hero" [monster]="monster" [weapon]="weapon" (heroMessageEmmiter)="receiveMessage($event)"
        (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroWonEmitter)="heroWonShowResult($event)"
        (monsterWonEmitter)="monsterWonShowResult($event)" (pocketStateEmitter)="changePocketState($event)"
        (actionTakenEmitter)="actionTakenEvent($event)"
        [potionUsed]="potionUsed" [potionConsumed]="potionConsumed"
        *ngIf="!heroWon && !monsterWon">
    </app-hero-overview>

    <app-pocket [hero]="hero" [monster]="monster" (potionUsedEmitter)="potionHasBeenUsed($event)" 
    (monsterMessageEmmiter)="receiveMonsterMessage($event)" (heroMessageEmmiter)="receiveMessage($event)"
    (monsterWonEmitter)="monsterWonShowResult($event)" (actionTakenEmitter)="actionTakenEvent($event)"
    (itemUsedEmitter)="exactPotionUsed($event)" *ngIf="pocketState"></app-pocket>

    <app-battle-overview [heroMessage]="heroMessage" *ngIf="actionTaken" [monsterMessage]="monsterMessage"
        [heroWon]="heroWon" [monsterWon]="monsterWon">
    </app-battle-overview>

    <app-battle-result *ngIf="heroWon || monsterWon" [hero]="hero" [monster]="monster" [heroWon]="heroWon"
        [monsterWon]="monsterWon" (nextDungeonEmitter)="continueToNextStore($event)">
    </app-battle-result>

</div>

<app-store [hero]="hero" [weapon]="weapon" *ngIf="nextStore && openStore"
    (nextDungeonEmitter)="continueToNextDungeon($event)"></app-store>

<app-dungeon-four [hero]="hero" [weapon]="weapon" *ngIf="nextDungeon"></app-dungeon-four>